@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}


/**/


/* foods page */

#foods-row {
    margin: 2.4rem 0;
}

.food-item {
    margin: 2rem 0;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgb(0, 0, 0, 0.79);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 0;
}

.food-img {
    width: 100%;
    display: block;
    border-radius: 5%;
    margin: 2rem auto;
    display: block;
}

.food-name {
    padding: 1.5rem 0.5rem;
}

.food-price {
    background: rgba(241, 0, 0, 0.664);
    color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}


/* media queries */

@media screen and (min-width: 600px) {
    .meal-search {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    #foods-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .food-item {
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    #foods-row {
        grid-template-columns: repeat(3, 1fr);
    }
}